#ninja-slider {
    width:100%;
    background:#FFF;
    padding: 0!important;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider .slider-inner {
    /*max-width:720px;*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
    background:black;
}

#ninja-slider li {    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

/*
#ninja-slider li::after {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background:transparent url(pattern.png) repeat 0 0;
    top:0;left:0;
}
*/


#ninja-slider li.ns-show {
    opacity:1;
}
