#ninja-slider {
    width:100%;
    background:#FFF;
    padding: 0!important;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider .slider-inner {
    /*max-width:720px;*/
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
    background:black;
}

#ninja-slider li {    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

/*
#ninja-slider li::after {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background:transparent url(pattern.png) repeat 0 0;
    top:0;left:0;
}
*/


#ninja-slider li.ns-show {
    opacity:1;
}
/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.8);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);*/
    border-radius:4px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/

#ninja-slider .caption {
    font-size:10em;
    font-family: 'Bree Serif', sans-serif;
    position:absolute;
    width:100%;
    text-align:center;
    color:rgba(255,255,255,0.8);
    bottom:20%;
}
#ninja-slider li[class*='-s'] .caption {
    /* 5s = (delay + transitionSpeed) set in the ninja-slider.js */
    -webkit-animation: titleAnimation 5s linear both;
    animation: titleAnimation 5s linear both;
}

@keyframes titleAnimation { 
	0% { opacity:0; }
	10% { opacity:0;transform: translateY(-20%);}
	20% { opacity:1;transform: translateY(0%);}
	70% {opacity:1;transform: translateY(0%);}
	80% {opacity:0;transform: translateY(100%);}
	100% {opacity:0;transform: translateY(100%);}
}

@-webkit-keyframes titleAnimation { 
	0% { opacity:0; }
	10% { opacity:0; -webkit-transform:translateY(-20%);}
	25% { opacity:1; -webkit-transform:translateY(0%);}
	70% {opacity:1; -webkit-transform:translateY(0%);}
	80% {opacity:0; -webkit-transform:translateY(100%);}
	100% {opacity:0; -webkit-transform:translateY(100%);}
}